.LoginContainer{
	
	
	position: fixed;
	margin: auto;
	
	top: 0; left: 0; bottom: 0; right: 0;
	
	height: fit-content;
	
	max-width: 576px;
	background: rgba(16, 24, 41,0.99);;
	
	
	border-radius: 30px;
	filter: blur(0px) !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 20px;
	
	
	
	
	
	transform: scale(0);
	
	

}

.AuthContainer{
	
	
	position: fixed;
	margin: auto;
	
	top: 0; left: 0; bottom: 0; right: 0;
	
	height: fit-content;

	max-width: 576px;
	background: rgba(16, 24, 41,0.99);;
	
	
	border-radius: 30px;
	filter: blur(0px) !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	
	
	
	
	
	
	transform: scale(0);
	
	

}

.LoginContainerVisible{
	transition: transform .6s;
	
	
	
	transform: scale(1);


}



.LoginContainer__Forms{
	display: flex;
	flex-direction: column;
	
}

.LoginContainer__Forms__Input{
	height: 42.2px;
	width: 288px;
	
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.89);
	
	font-size: 20px;
	border-radius: 2px;
	
	
}
.LoginContainer__Forms__LoginForm textarea{
	font-size: 30px;
}


.LoginContainer__Forms__Input:focus{
	box-shadow: 0px 0px 1px 2px #3C8FFF;
}

.LoginContainer__Forms__Button{
	margin-top: 40px;
	height: 43px;
	border-radius: 100px;
	background-color: #1f2c48;
	width: 80%;
	align-self: center;
	color: #fff;
	font-size: 17px;
}

.LoginContainer__Forms__Button:hover{
	cursor: pointer;
	transition: 0.3s;
	background-color: #3c90ffaf;
}
.LoginContainer__Forms__Button:disabled{
	background-color: #3b4863;
	cursor:not-allowed;
}

.LoginContainer__CloseButton{
	margin-top: 6%;
	margin-left: 80%;
	
	background: none;
	color: white;
	font-size: 20px;
	
}

.LoginContainer__CloseButton:hover{
	color: tomato;
}


.LoginContainer__ForgotPass{
	margin-top: 7px;
	
	text-align: end;
	color: rgba(255, 255, 255, 0.89);
	cursor: pointer;

}

.LoginContainer__Registration{
	color: rgba(255, 255, 255, 0.89);
	background: none;
	
	align-self: center;
	width: fit-content;
	margin-top: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.89);
	cursor: pointer;
	font-size: 16px;
}

.LoginContainer__Error{
	width: 80%;
	margin-top: 5px;
	color: rgb(216, 53, 25);
}

.PasswordRulesContainer {
	width: 432px;
	height: fit-content;
	background-color: white;
	position: absolute;
	margin: auto;
	top: 130px; left: 450px; bottom: 0; right: 0;
	border-radius: 10px;
	font-size: 11px;
	list-style-position:inside;
	
	
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	color: black;
	
	
}

.PasswordRulesContainer li{
	margin:10px;
}
.arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid white;
	top: 22px; left: -13px; bottom: 0; right: 0;
	

	
}  

.LoginContainer__EmailMessage{
	font-size: 20px;
	color: whitesmoke;
	margin-top: 10px;
	margin-bottom: 30px;
	width: 80%;
	align-self: center;

	

}

.LoginContainer__ConfirmCodeError{
	margin-top: 10px;
	font-size: 12px;
	color: rgb(216, 53, 25);
}
.LoginContainer__Forms__PasswordEqualError{
	
	width: 80%;
	margin-top: 5px;
	color: rgb(216, 53, 25);
}
