.NotFoundContainer{
	min-width: 900px;
	height: 50vh;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 20vh;
}

.NotFoundContainer__StatusCode{
	font-size: 72px;
	color: #11192A;
	font-family: 'Sora', sans-serif;
	font-weight: 300;
	

}

.NotFoundContainer__StatText{
	font-size: 64px;
	color: #11192A;
	margin-top: 20px;
	font-family: 'Sora', sans-serif;
	font-weight: 300;
}

.NotFoundContainer__DescText{
	font-size: 18px;
	color: #263B68;
	margin-top: 40px;
}
.NotFoundContainer__DescTextDeleted{
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
	color: #263B68;
	
}

.NotFoundContainer__LinkToHome{
	margin-top: 50px;
	font-size: 18px;
	color: black;
	font-weight: 300;
}

.NotFoundLogo{
	margin-left: 10px;
	
}
.NotFoundPenguin{
	width: 250px;

	
	float: right;
	
	margin-right: 46px;
	margin-bottom: 60px;
}

.NotFoundPenguin img{
	width: 100%;

}

.NotFound{
	padding-top:10px;
}