.NotFoundContainer{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}

.NotFoundContainer__StatusCode{
	font-size: 100px;
}

.NotFoundContainer__StatText{
	font-size: 70px;	
}

.NotFoundContainer__Plane{
	transform: rotate(90deg);
}