.TransferContainer{
	display: flex;
	flex-direction: row;

}


.ApplicationContainer{
	max-width: 1620px;
	padding-top: 40px;
	padding-left: 40px;
}

.ApplicationContainer span{
	font-size: 14px;
	
	
	color:#00000080;
}

.ApplicationContainer__TransferType label {
	margin-right: 15px;
	line-height: 32px;
	font-size: 16px;
	font-weight: 300;
  }
  
 .ApplicationContainer__TransferType input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
  
	border-radius: 50%;
	width: 16px;
	height: 16px;
  
	border: 2px solid #999;
	transition: 0.2s all linear;
	margin-right: 5px;
  
	position: relative;
	top: 4px;
  }
  
  .ApplicationContainer__TransferType input:checked {
	border: 6px solid black;
	
  }
  
 
  
 
  
 
.ApplicationContainer__TransferTypeChoice{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	min-width: 550px;
}

.ApplicationContainer__Input{
	min-width: 550px;
	min-height: 31px;
	background-color: #E1E6F4;
	font-size: 14px;
	margin-top: 15px;
	border-radius: 4px;
	overflow: 'scroll',
	
}

.ApplicationContainer__Form{
	display: flex;
	flex-direction: column;
	max-width: 550px;
}

#imgTransfer{
	opacity: 0;
	position: absolute;
	z-index: -1;
}

#imgMarks{
	opacity: 0;
	position: absolute;
	z-index: -1;
}


.imgLabel{
	margin-top: 20px;
	font-size: 18px;
	color: #00000080;
	cursor: pointer;
	width: fit-content;
	min-width: 490px;

}
.imgLabel svg{
	float: right;

}

.FileName{
	margin-top: 5px;
	color: #999;
}


.ApplicationContainer__InputTel{
	min-width: 550px;
	min-height: 31px;
	background-color: #E1E6F4;
	font-size: 14px;
	
	border-radius: 4px;

}

.ApplicationContainer__SubmitButton{
	max-width: 212px;
	min-height: 40px;
	font-size: 16px;
	background-color: #0E0F0F;
	border-radius: 4px;
	margin-top: 30px;
	color: white;
	font-weight: 300;
	box-shadow: 0px 4px 4px 0px #00000040;

box-shadow: 0px 4px 4px 0px #00000040;


	

}

.li{
	max-height: 64px;
	overflow: scroll;
	
	
}

.ExamplesContainer{
	max-width: 1920px;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	padding-left: 100px;
	padding-right: 100px;
	align-items: center;
	font-weight: 300;
	



}

.ExamplesContainer div{
	min-width: 400px;
	min-height: 100px;
	background-color: #CAD1E4;
	border-radius: 24px;
	margin-top: 50px;
	justify-content: center;
	
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 18px;
	box-shadow: 0px 4px 24px 0px #00000040;
	color:#00000080
	
}
.ExamplesContainer span{
	display: inline-block;
}
